<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Polyfinal — Tous les finaux de la session 2016 de poly à portée de main</title>
    <meta name="keywords" content="polymtl, polytechnique, poly, finaux, final, finals, session 2016, 2016, automne 2016, session automne, automne, calendrier, date, exam, examens">
    <meta name="description" content="Trouve les dates des examens finaux de la session d’Automne 2016 de Polytechnique, et récupère les dans ton agenda ! Chaque final de la session d’automne polymtl à portée de main.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Polyfinal">
    <meta property="og:description" content="Récupère les dates des examens finaux session 2016 à Polytechnique montreal.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr">
    <meta property="og:site_name" content="Polyfinal">
    <meta property="og:url" content="https://buonomo.github.io/polyfinal">

    <link rel="canonical" href="https://buonomo.github.io">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
</head>

<body class="container">
    <div id="app">
      <div class="alert alert-success alert-dismissible" role="alert" :class="{visible: justSaved}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="justSaved = false"><span aria-hidden="true">&times;</span></button>
          <strong>Yes!</strong> Tes données ont bien été sauvegardées en cookies
      </div>
        <h1 class="page-header">Trouve tes finaux</h1>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="courseInput">Tes cours</label>
                <input type="text" class="form-control" id="courseInput" placeholder="Tes cours"
                       v-model="courseInput"
                       title="Tu peux rentrer plusieurs cours en même temps séparés par une virgule">
            </div>
            <div class="form-group">
              <label class="sr-only" for="nameInput">Ton nom</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Ton nom"
                     v-model="name" title="Il est recommendé de mettre le nom complet">
            </div>
            <button @click.prevent="save()" class="btn btn-primary">Sauvegarder</button>
            <a :href="ICSurl" download="agenda-finaux.ics">Exporter au format ICS</a>
        </form>
        <hr>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th><a @click="sortBy = 'id'">
                        #
                        <span :class="{'glyphicon-triangle-bottom': sortString === 'id' && sortOrder,
                                       'glyphicon-triangle-top': sortString === 'id' && !sortOrder}"
                              class="glyphicon sort"></span>
                      </a></th>
                      <th><a @click="sortBy = 'name'">
                        Nom
                        <span :class="{'glyphicon-triangle-bottom': sortString === 'name' && sortOrder,
                                       'glyphicon-triangle-top': sortString === 'name' && !sortOrder}"
                              class="glyphicon sort"></span>
                      </a></th>
                      <th><a @click="sortBy = 'section'">
                        Section
                        <span :class="{'glyphicon-triangle-bottom': sortString === 'section' && sortOrder,
                                       'glyphicon-triangle-top': sortString === 'section' && !sortOrder}"
                              class="glyphicon sort"></span>
                      </a></th>
                      <th><a @click="sortBy = 'date'">
                        Date
                        <span :class="{'glyphicon-triangle-bottom': sortString === 'date' && sortOrder,
                                       'glyphicon-triangle-top': sortString === 'date' && !sortOrder}"
                              class="glyphicon sort"></span>
                      </a></th>
                      <th><a @click="sortBy = 'class'">
                        Local
                        <span :class="{'glyphicon-triangle-bottom': sortString === 'class' && sortOrder,
                                       'glyphicon-triangle-top': sortString === 'class' && !sortOrder}"
                              class="glyphicon sort"></span>
                      </a></th>
                      <th v-if="!name">Séparation des étudiants</th>
              </thead>
              <tbody>
                  <tr v-for="final in orderedFilterdFinals">
                      <td>{{ final.id }}</td>
                      <td>{{ final.name }}</td>
                      <td>{{ final.section }}</td>
                      <td>{{ final.date | date }}</td>
                      <td>{{ final.class }}</td>
                      <td v-if="!name">
                        <span v-if="final.names">
                          De: {{ final.names[0].lastname }}, {{ final.names[0].firstname }} à
                          {{ final.names[1].lastname }}, {{ final.names[1].firstname }}
                        </span>
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>
    </div>
    <footer>
        Fait par <a href="mailto:buonomo.ulysse@gmail.com">Ulysse</a> sous
        <a href="https://raw.githubusercontent.com/BuonOmo/polyfinal/master/LICENSE">license MIT</a>
        — code sur <a href="https://github.com/BuonOmo/polyfinal">Github</a>
    </footer>
    <script src="lib/ical.min.js" charset="utf-8"></script>
    <script src="lib/moment.min.js" charset="utf-8"></script>
    <script src="lib/fr.js" charset="utf-8"></script>
    <script src="lib/vue.min.js"></script>
    <script src="js/data.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-83592500-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
